body {
    margin: 0;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 3em;
    width: 65%;
}

h6 {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 3em;
    width: 100%;
    font-size: 1.4rem;
}

footer {
    width: 100%;
    border: 2px solid black;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
    background: beige;
}

/* NAVBAR HEADER */

.navbar {
    display: flex;
    width: 100%;
    border: 2px solid black;
}

.navbar-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
}

.navbar-items {
    list-style-type: none;
}

/* Main Content */

.content-container {
    display: flex;
    height: 70vh;
    width: 100%;
}

.sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    border: 2px solid black;
    text-align: center;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    border: 2px solid black;
}

/* Math Exercise Cards */

.content-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 16vh;
    border: 2px solid black;
    padding: 0 1.5em;
}

.content-item {
    width: 65%;
    text-align: center;
    font-size: 2em;
}